asgiref
boto
boto3
botocore
certifi
charset-normalizer
dj-database-url
Django
django-environ
django-heroku
django-storages
gunicorn
heroku
idna
jmespath
psycopg2
python-dateutil
python-dotenv
requests
s3transfer
sentry-sdk
six
sqlparse
tzdata
urllib3
whitenoise
