{% load static %}
{% comment %}
    - Can be inserted into other templates.
    - Takes one context variable:
        - multiple: boolean; true if multiple uploads allowed
    - Allows upload of image from user's device, a URL, or the
    retrieval of a random image from a 3rd-party API (Picsum).
    - Stores URLs of uploaded images in a list. These will be 
    included in POST data if this include is nested inside a form
    element.
{% endcomment %}

<button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#id_add_image_modal" type="button">
    <i class="bi bi-card-image"></i> Add image
</button>

<div class="alert alert-warning alert-dismissible fade hide my-2" id="id_image_errors" role="alert">
    <h4 class="alert-heading">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        There was an error uploading your image.
    </h4>
    <p>Try uploading an image from your computer, using the random image feature, or a different URL.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div id="id_add_image_modal" class="modal fade" tabindex="-1" aria-labelledby="id_add_image_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="id_add_image_modal_label">Add an image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container my-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item mb-3 pb-4">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" onclick="triggerUploads()">
                                Click here to generatea random image
                            </button>
                        </li>
                        <li class="list-group-item mb-3 pb-4">
                            <label class="lead mb-3" for="id_upload_image">Or, upload an image from your computer.</label>
                            <input type="file" id="id_upload_image" name="upload_image" class="form-control" accept="image/*" {% if multiple %}multiple{% endif %}>
                        </li>
                        <li class="list-group-item mb-3 pb-4">
                            <label class="lead mb-3" for="id_url_image">Or, add an image from the internet.</label>
                            <input type="url" id="id_url_image" name="url_image" class="form-control" placeholder="URL of image">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="sign_s3_url" value="{% url 'images:sign_s3' %}"/>
                <input type="hidden" name="get_image_html" value="{% url 'images:get_image_html' %}"/>
                <button type="reset" class="btn btn-outline-secondary">Clear form</button>
                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="triggerUploads()">Save</button>
            </div>
        </div>
    </div>
</div>

<select class="d-none" name="images" id="id_image_ids" multiple data-max="{{ MAX_IMAGE_UPLOADS }}">
    {% for image in collected_images %}
        {{ image }}
    {% endfor %}
</select>

<div id="id_image_thumbnails" class="d-flex flex-row py-3 flex-wrap justify-content-start"></div>

<div id="id_loading_image_modal" class="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="id_loading_image_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-body">
                <h3 id="id_loading_image_modal_label">Loading image...</h3>
                <p>This can take a little while sometimes.</p>
            </div>
        </div>
    </div>
</div>

{% comment %} <script src="{% static 'js/images.js' %}"></script> {% endcomment %}
<script>
    /*
    * To test:
    * - triggerUploads is, um, triggered.
    * - Acquire presigned URLs from server
    * - Upload files to S3 
    * - Append new files to DOM 
    */
    async function triggerUploads(e) {
        // coordinates various AJAX requests to upload and display an image file 
        const loading_modal = new bootstrap.Modal($('id_loading_image_modal'));    
        loading_modal.show();
        
        files = await getFiles();
        promises = []
        for (const f of files) {
            // get signed urls for each file
            console.log("Getting signed url...");
            const promise = getSignedUrlRequest(f)

            // add to an array to track when to close loading modal
            promises.push(promise);

            promise.then((signed_url) => {
                    console.log("Signed URL acquired: ", signed_url);
                    console.log("Acquiring formatted html...");
                    // with signed_url, get formatted HTML
                    return getImageHtml(signed_url);
                })
                .then((image_html) => {
                    console.log("Formatted html acquired: ", image_html);
                    console.log("Appending html to DOM...")
                    // with formatted html, append to DOM 
                    const img_thumbnails = $('id_image_thumbnails');
                    img_thumbnails.innerHTML += image_html;
                });
        }

        Promise.all(promises).then(() => {
            loading_modal.hide();
        });
    }
    
    function FileSource() {
        this.files_input = $('id_upload_image');
        this.files = [];
        this.getFiles() = function() {
            // look for input to file input field 
            uploaded_files = Array.from(this.files_input.files);
            if (uploaded_files[0]) {
                this.files = uploaded_files;
                return this.uploaded_files;
            }
        }
    }

    async function getFiles() {
        // determine source of file then initiate upload to S3 bucket
        const files = Array.from($('id_upload_image').files);
        const file = files[0];
        const url = $('id_url_image').value;
        const retrieveFiles = await new Promise((res, rej) => {
            if (file === undefined) {
                getFile(url)
                .then(file => {
                    files.push(file);
                })
                .then(() => {
                    res();
                })
                .catch((e) => {
                    console.log(e);
                    loading_modal.hide();
                    $('id_image_errors').classList.remove('hide');
                    $('id_image_errors').classList.add('show');
                })
            } else {
                res();
            }
        })
        return files;
    }
    

    function getFile(url) {
        // retrieve/create file from URL
        // source: https://newbedev.com/how-to-convert-dataurl-to-file-object-in-javascript
        if (!url) {
            url = "https://picsum.photos/300";
        }
        return fetch(url)
        .then((response) => {
            return response.arrayBuffer();
        })
        .then((buf) => {
            const file = new File([buf], 'image_upload.jpg', {type: 'image/jpg'});
            return file;
        })
        .catch((err) => {
            throw err;
        })
    }

    

    function getImageHtml(image_url) {
        return new Promise((res, rej) => {
            const csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value;
            const url = document.querySelector('[name=get_image_html]').value;
            fetch(url + "?image_url=" + image_url, {
                headers: {'X-CSRFToken': csrf_token}
            })
            .then((response) => {
                return response.json();
            })
            .then((json) => { 
                res(json.html); 
            });
        });
    }

    
    function getSignedUrlRequest(file) {
        return new Promise((res, rej) => {
            const csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value;
            const post_data = new FormData();
                  post_data.append('file_name', file.name);
                  post_data.append('file_type', file.type);
            const url = document.querySelector('[name=sign_s3_url]').value;

            console.log("... Making fetch to AWS via Django...");
            fetch(url, {
                method: "POST",
                body: post_data,
                headers: {'X-CSRFToken': csrf_token}
            })
            .then((response) => {
                console.log("... Response acquired, converting to JSON...");
                return response.json();
            })
            .then((json) => {
                console.log("... JSON acquired, resolving promise to uploadFile()...");
                // send the presigned url to be uploaded
                res(uploadFile(file, json.data, json.image_url));
            })
        })
    }


    async function makeFetch(formData, url, method="POST", format="json") {
        // a generic fetch method
        const csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value;
        return fetch(url, {
            method: method,
            body: formData,
            headers: {'X-CSRFToken': csrf_token}
        })
        .then(res => {
            // if the server response is good, return data in the format specified
            if (res.status >= 200 && res.status <= 299) {
                let data;
                switch (format) {
                    case "json":
                        data = res.json();
                        break;
                    case "arrayBuffer":
                        data = res.arrayBuffer();
                        break;
                    default:
                        data = res;
                        break;
                }
                return data;
            }
            else {
                throw Error(res.statusText);
            }
        })
        .catch(() => {
            // this catches 4xx and 5xx errors
            // return a rejected promise so i can catch() it elsewhere
            return new Promise((res, rej) => {
                rej();
            })
        })
    }
    
    
    function uploadFile(file, data, image_url) {
        return new Promise((res, rej) => {
            const post_data = new FormData();
            // all fields need to be copied into the post body
            for (key in data.fields) {
                post_data.append(key, data.fields[key]);
            }
            post_data.append('file', file);
            
            console.log("... Sending presigned URL and file data to AWS...");
            fetch(data.url, {
                method: "POST",
                body: post_data
            })
            .then(() => {
                console.log("... AWS responded, returning the URL of the image...");
                res(image_url);
            });
        });
    }
</script>