{% load static %}
{% load rest_framework %}
<div class="col col-sm-6 col-md-4 col-lg-3" id="image_{{ image.id }}" style="max-width: 50%;">
    <div id="{{ image.id }}" class="card" draggable="true">
        <div class="card-header border-bottom text-center" data-bs-tooltip="tooltip" data-bs-placement="top" title="Drag to reorder">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grip-horizontal" viewBox="0 0 16 16">
                <path d="M2 8a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
        </div>
        <div class="container-fluid text-center p-0 m-0">
            <a href="{% url 'images:image-detail' image.id %}">
                <img src="{{ image.image_field.url }}" class="img-fluid">
            </a>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <textarea 
                    name="alt" class="form-control form-control-sm" 
                    aria-label="(Optional) Add a description" 
                    placeholder="(Optional) Add a description"
                    hx-post="{% url 'images:image-update-alt' image.id %}"
                    hx-indicator="#id_saving_toast"
                    hx-target="#id_server_message"
                    autocomplete="off">{{ image.alt|default:"" }}</textarea>
            </form>
        </div>
        <div class="card-footer text-center">
            <form action="{% url 'images:image-post-destroy' image.id %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-outline-danger btn-sm" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                    Remove
                </button>
            </form>
        </div>
    </div>
</div>