{# This is the template that should be included to generate an image upload form. #}

<div class="card">
    <div class="card-header border-bottom">&nbsp;</div>
    <h5 class="card-title text-center mt-3 mb-0">Add images</h5>
    <div 
        id="id_image_add" 
        {% if imageset %}
            hx-get="{% url 'images:hx-load' imageset.id %}" 
        {% elif max_uploads %}
            hx-get="{% url 'images:hx-load' %}?size={{ max_uploads }}" 
        {% endif %}
        hx-trigger="load" 
        hx-swap="outerHTML"
    ></div>

    {% include 'images/html/includes/image_list.html' with images=images %}
</div>


{% include "images/html/includes/detail_modal.html" %}

    
<script>
    // Gets called by HTMX when the response headers include HX-Trigger: "displayToast"
    document.body.addEventListener("displayToast", function(e) {
        const toastEl = document.getElementById("id_message_toast");
        const stoast = bootstrap.Toast.getOrCreateInstance(toastEl, {/*'delay': 1000*/});
        stoast.show();
    });

    // add CSRF-token manually; required for hx-delete requests.
    document.body.addEventListener("htmx:configRequest", (e) => {
        e.detail.headers['X-CSRFToken'] = "{{ csrf_token }}";
    });

    // save order of images when sorted
    const sortableDiv = document.getElementById("id_image_list");
    const sortable = Sortable.create(sortableDiv, {
        animation: 150,
        handle: '.card-header',
        onSort: function(evt) {
            const images = sortableDiv.querySelectorAll('.uploaded-image');
            const formData = new FormData();
            for (let i = 0; i < images.length; i++) {
                formData.append("image_list", images[i].id);
            }
            fetch("{% url 'images:hx-reorder' %}", {
                method: "POST",
                body: formData,
                headers: { 'X-CSRFToken': "{{ csrf_token }}" }
            });
        },
    });
</script>
