<h3>Upload an image</h3>


<form hx-post="{% url 'images:add' %}" hx-target="#response" hx-indicator="#indicator" hx-encoding="multipart/form-data">
    {% csrf_token %}
    <label>Select an image: <input type="file" name="image_field" accepts="images/*" id="id_image_field" autocomplete="off"></label>
    <input type="submit" value="Submit">

    <img id="indicator" class="htmx-indicator" src="/loading.gif"/>
</form>
<div id="id_error_list" ></div>
<div id="response"></div>

<script>
    const ERRORCONT = document.getElementById("id_error_list");
    document.body.addEventListener("htmx:beforeRequest", function(e) {
        ERRORCONT.classList.add("visually-hidden");
        ERRORCONT.innerHTML = "";
    });

    document.body.addEventListener("htmx:responseError", function(e) {
        error = e.detail.xhr.response;
        ERRORCONT.innerHTML = error;
        ERRORCONT.classList.remove("visually-hidden");
    });
</script>