{% load static %}
<div id="id_image_add" class="card-body row">
    <div class="col-12 col-md-4 border-end border-top border-bottom p-3">
        <form
            hx-post="{% url 'images:hx_upload' %}" 
            hx-encoding="multipart/form-data"
            hx-target="#id_image_add"
            hx-swap="outerHTML"
            hx-indicator="#id_saving_toast"
        >
            {% csrf_token %}
            {% include 'images/html/includes/form_template.html' with form=upload_form %}
            <button type="submit" class="btn btn-primary">
                Upload
            </button>
        </form>
    </div>

    <div class="col-12 col-md-4 p-3 border-top border-bottom">
        <form
             hx-post="{% url 'images:hx_fetch' %}" 
            hx-encoding="multipart/form-data"
            hx-target="#id_image_add"
            hx-swap="outerHTML"
            hx-indicator="#id_saving_toast">
            {% csrf_token %}
            {% include 'images/html/includes/form_template.html' with form=fetch_form %}
            <button type="submit" class="btn btn-primary">
                Upload
            </button>
        </form>
    </div>

    <div class="col-12 col-md-4 border-start border-top border-bottom p-3">
        <p class="">Or, get a random image:</p>
        <form
            hx-post="{% url 'images:hx_fetch' %}"
            hx-encoding="multipart/form-data"
            hx-target="#id_image_add"
            hx-swap="outerHTML"
            hx-indicator="#id_saving_toast">
            {% csrf_token %}
            <input type="hidden" name="imageset" value="{{ imageset.id }}"/>
            <input type="hidden" name="url" value="https://picsum.photos/300"/>
            <button type="submit" class="btn btn-primary">
                Upload random
            </button>
        </form>
    </div>

    <!-- toast alerts -->
    <div class="toast-container position-fixed bottom-0 end-0 translate-middle-y p-3">

        <div id="id_saving_toast" class="toast show htmx-indicator" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    <span class="spinner-border spinner-border-sm me-2" role="status"></span>
                    Loading...
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>

        <div id="id_message_toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body" id="id_server_message"></div>
        </div>

    </div>
</div>

<div id="id_image_list" class="row row-cols-auto gy-4 gx-2 p-3" hx-swap-oob="afterbegin">
    {% for image in images %}
        {% include "images/html/includes/image.html" with image=image %}
    {% endfor %}
</div>