Upload form goes here.

<button hx-get="{% url 'images:test_click' %}" class="btn btn-primary my-3" type="button">
    <span class="htmx-indicator spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Click me
</button>


<div class="my-3">
    <button class="btn btn-primary" type="button" 
        hx-get="{% url 'images:test_click' %}" 
        hx-indicator="#remote-indicator" 
        hx-target="#remote-target"
    >
        Click to load in separate div.
    </button>
    <div id="remote-target" class="my-2">
        <div id="remote-indicator" class="htmx-indicator">
            <span class="htmx-indicator spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </div>    
    </div>
</div>

<form hx-encoding="multipart/form-data">
    Select File:
    <input type="file" id="id_image_field" name="image_field" accepts="image/*" />
    <button
      hx-post="{% url 'images:add_image_inline' %}"
      hx-include="[name='csrfmiddlewaretoken']"
      hx-target="#image_list"
    >
      Upload File!
    </button>
</form>

<hr/>
<h3>DRF Upload</h3>
<form hx-encoding="multipart/form-data">
    Select File:
    <input type="file" id="id_image_field" name="image_field" accepts="image/*" />
    <button
      hx-post="{% url 'images:add_drf' %}"
      hx-include="[name='csrfmiddlewaretoken']"
      hx-target="#image_list"
    >
      Upload File!
    </button>
</form>
<hr/>
<h3>Presigned URL</h3>
{% comment %}
    So this WOULD work, probably. I stopped short of actually uploading the file to the B2 bucket.
    In its current state, the upload url is retrieved through an un-authenticated GET request, which
    is obviously pretty insecure. I don't think I really want to add in authentication to this, even 
    if it's as simple as POST-ing the csrf token and username. I think I'd rather return to a more
    streamlined - if slower - approach using all Django and HTMX. 
{% endcomment %}
Select File:
<input type="file" id="id_image_field" name="image_field" accepts="image/*" />
<br/>
<button class="btn btn-primary" onclick="uploadImage()">Upload image</button>
<div id="img_output"></div>
<script>
    async function uploadImage() {
        const fileInput = document.getElementById("id_image_field");
        const formdata = new FormData();
        await fetch("{% url 'images:presigned_url' %}", {})
            .then((response) => {
                return response.json()
            })
            .then((json) => { 
                const uploadUrl = json.url;
            });
    }
</script>


<hr class="my-5"/>
<div id="image_list"></div>