{% extends 'base/html/templates/base.html' %}
{% load static %}
{% block body %}

    {# Randomize #}
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Test it out!</h4>
        <p>Because this isn't a "real" site, feel free to click the button below to automatically generate a random listing, including images.</p>
        <a href="{% url 'listings:randomize' %}" class="btn btn-primary">Generate a random listing</a>
        <p class="small">Note: this can take some time to generate the images.</p>
    </div>
    <hr class="my-3" />
    {% comment %}
        Make sure the view provides the appropriate action to this template 
        to distinguish between create and update.
    {% endcomment %}
    <form id="id_listing_create_form" action="{{ submit_url }}" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                <div class="form-label">{{ field.label }}</div>
                <div>{{ field }}</div>
                <div class="form-help">{{ field.errors }}</div>
            </div>
        {% endfor %}
    </form>
    
    {% comment %}
        When first rendered, an imageset object is created in the view and the form's 
        initial value for that field is populated. Therefore we can load the image 
        uploader here using that imageset's ID by accessing the relevant form field's 
        value.
    {% endcomment %}
    {% with form.imageset.value as imageset_id %}
        {% include "images/html/includes/main.html" with imageset_id=imageset_id %}
    {% endwith %}

    <button class="btn btn-primary my-3" form="id_listing_create_form" type="submit">Submit</button>
{% endblock %}