{% extends 'base/html/templates/base.html' %}
{% load static %}
{% block body %}
    {# Make sure to provide the action URL here to distinguish between create and update. #}
    <form id="id_listing_create_form" action="{{ submit_url }}" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                <div class="form-label">{{ field.label }}</div>
                <div>{{ field }}</div>
                <div class="form-help">{{ field.errors }}</div>
            </div>
        {% endfor %}
    </form>
    
    {% comment %}
        When first rendered, an imageset object is created and the form's initial
        value for that field is populated. Therefore we can load the image uploader
        here using that imageset's ID by accessing the relevant form field's value.
    {% endcomment %}
    {% with form.imageset.value as imageset_id %}
        {% include "images/html/includes/main.html" with imageset_id=imageset_id %}
    {% endwith %}

    <button class="btn btn-primary my-3" form="id_listing_create_form" type="submit">Submit</button>
{% endblock %}