{% extends 'base/html/templates/base.html' %}
{% load static %}
{% block body %}
    <form id="id_listing_create_form" action="{% url 'listings:create' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                <div class="form-label">{{ field.label }}</div>
                <div>{{ field }}</div>
                <div class="form-help">{{ field.errors }}</div>
            </div>
        {% endfor %}
    </form>
    
    {% comment %}
        If validation fails, the server will lookup the imageset that was previously created 
        and add it to the context dictionary here. This way, any previously-uploaded images 
        are preserved even if the form can't be submitted.
    {% endcomment %}
    {% if imageset %}
        {% include 'images/html/includes/main.html' with imageset=imageset %}
    {% else %}
        {% include 'images/html/includes/main.html' with max_uploads=1 %}
    {% endif %}

    <button type="submit" class="btn btn-primary my-3" form="id_listing_create_form">Submit</button>

{% endblock %}