{% extends 'base/html/templates/base.html' %}
{% load static %}
{% block body %}
    <h1>Images</h1>

    {% include 'images/html/includes/upload_form.html' %}

    {% for image in object_list %}
        <div class="position-relative" style="width: 200px; height: 200px;">
            <div class="position-absolute top-50 start-50 translate-middle spinner-border"></div>
            <div class="position-absolute top-0 start-0 w-100 h-100">
                <a href="{% url 'images:update' image.id %}">
                    <img src="{{ image.image_field.url }}">
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock body %}