{% extends 'base/html/templates/base.html' %}
{% load static %}
{% block body %}
    <h1>Images</h1>

    {% include 'images/html/includes/upload_form.html' %}

    <hr class="my-5"/>
    <div style="width: 200px; height: 200px;">
        <span id="id_image_loading_spinner" class="htmx-indicator spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <div id="id_image_list" class="position-relative">
        {% for image in object_list %}
                <div class="img-thumbnail">
                    <a href="{% url 'images:update' image.id %}">
                        <img src="{{ image.image_field.url }}">
                    </a>
                </div>
        {% endfor %}
        </div>
    </div>
{% endblock body %}