{% extends 'base/html/templates/base.html' %}
{% load static %}
{% load breadcrumbs %}

{% block breadcrumb %}
    {% breadcrumb_url 'Home' 'base:index' %}
    {% breadcrumb_url 'Profiles' %}
    {% breadcrumb_url request.user.username %}
{% endblock breadcrumb %}

{% block body %}
    
    {% include "listings/html/includes/main.html" with list_by=user %}

    <h2>Delete your account</h2>
    <a href="{% url 'accounts:delete_account' pk=request.user.id %}">Click here to delete your account.</a>
{% endblock body %}