<!DOCTYPE html>
<html>
    <head>
        <title>Image testing</title>
        <script>
            function FileSource() {
                this.files_input = $('id_upload_image');
                this.url = $('id_url_image').value;
                this.files = Array.from(this.files_input.files);

                this.getFiles = function() {
                    // Checks to see where a file is coming from then returns it as a resolved promise
                    return new Promise((res, rej) => {
                        const files = this.files;
                        const file = files[0];
                        const url = this.url;
                        
                    })
                }

                this.getFile = function(url) {
                    // retrieve a file from somewhere online
                    // if no url is supplied, use a random image generator
                }
            }
        </script>
    </head>
    <body>
        <div class="modal-body">
            <div class="container my-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item mb-3 pb-4">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" onclick="triggerUploads()">
                            Click here to generatea random image
                        </button>
                    </li>
                    <li class="list-group-item mb-3 pb-4">
                        <label class="lead mb-3" for="id_upload_image">Or, upload an image from your computer.</label>
                        <input type="file" id="id_upload_image" name="upload_image" class="form-control" accept="image/*" {% if multiple %}multiple{% endif %}>
                    </li>
                    <li class="list-group-item mb-3 pb-4">
                        <label class="lead mb-3" for="id_url_image">Or, add an image from the internet.</label>
                        <input type="url" id="id_url_image" name="url_image" class="form-control" placeholder="URL of image">
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal-footer">
            <input type="hidden" name="sign_s3_url" value="{% url 'images:sign_s3' %}"/>
            <input type="hidden" name="get_image_html" value="{% url 'images:get_image_html' %}"/>
            <button type="reset" class="btn btn-outline-secondary">Clear form</button>
            <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="triggerUploads()">Save</button>
        </div>
    </body>
</html>