<div class="card">
    <div class="container-fluid text-center p-0 m-0">
        {% include 'listings/html/includes/image_carousel.html' with images=listing.imageset.images.all %}
    </div>

    {% include "listings/html/includes/listing_favorite_toggle.html" with listing=listing %}

    <div class="card-body p-2 position-relative">
        <a href="{% url 'listings:detail' listing.id %}" class="stretched-link text-decoration-none text-dark">{{ listing.title }}</a>
        {# TODO: condition #}
        <p class="text-muted small">{{ listing.condition|default:"Like new"}}</p>
        {# TODO: current bid #}
        <p class="lead mb-0"><strong>${{ listing.current_bid.amount|default:69|stringformat:".2f" }}</strong></p>
        {# TODO: number of bids #}
        <p class="mb-2 text-muted"><small>{{ listing.bids.count|default:0 }} bids, {{ listing.watchers.count|default:0 }} watchers, 1d 0h</small></p>
        <p class="text-muted small">Posted by: <a href="{% url 'accounts:profile' listing.user.id %}" class="text-secondary">{{ listing.user }}</a> at {{ listing.created_at }}</p>
    </div>
</div>