<div class="my-3 p-3 border">
    <h1>{{ listing.title }}</h1>
    <a href="{% url 'listings:update' listing.id %}" class="btn btn-outline-secondary">Edit</a>
    <a href="{% url 'listings:delete' listing.id %}" class="btn btn-outline-danger">Delete</a>
    <hr class="my-4"/>
    <p>{{ listing.description }}</p>
    <div class="d-flex flex-row">
        {% for image in listing.imageset.images.all %}
            {% include "images/html/includes/image.html" with image=image %}
        {% endfor %}
    </div>
</div>