<div id="id_listings_list" hx-swap="outerHTML">
    {% for listing in page_obj %}
        {% include 'listings/html/includes/listing.html' with listing=listing %}
    {% endfor %}
</div>


<div id="id_listing_paginator" class="pagination" hx-swap-oob="true">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <button hx-get="{% url 'listings:HX_List' %}?page=1" hx-target="#id_listings_list">&laquo; first</button>
            <button hx-get="{% url 'listings:HX_List' %}?page={{ page_obj.previous_page_number }}" hx-target="#id_listings_list">previous</button>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <button hx-get="{% url 'listings:HX_List' %}?page={{ page_obj.next_page_number }}" hx-target="#id_listings_list">next</button>
            <button hx-get="{% url 'listings:HX_List' %}?page={{ page_obj.paginator.num_pages }}" hx-target="#id_listings_list">last &raquo;</button>
        {% endif %}
    </span>
</div>